@use './var.css';
@use './FormCreate/index.scss';
@use './theme.scss';
@use 'element-plus/theme-chalk/dark/css-vars.css';

.reset-margin [class*='el-icon'] + span {
  margin-left: 2px !important;
}

// 解决抽屉弹出时，body宽度变化的问题
.el-popup-parent--hidden {
  width: 100% !important;
}

// 解决表格内容超过表格总宽度后，横向滚动条前端顶不到表格边缘的问题
.el-scrollbar__bar {
  display: flex;
  justify-content: flex-start;
}

/* nprogress 适配 element-plus 的主题色 */
#nprogress {
  & .bar {
    background-color: var(--el-color-primary) !important;
  }

  & .peg {
    box-shadow:
      0 0 10px var(--el-color-primary),
      0 0 5px var(--el-color-primary) !important;
  }

  & .spinner-icon {
    border-top-color: var(--el-color-primary);
    border-left-color: var(--el-color-primary);
  }
}
// 解决侧边栏菜单展开时，由 .el-menu-item * 默认竖向底端对齐导致角标及其内部元素高度污染的问题
.el-menu-item .el-badge,
.el-menu-item .el-badge *,
.el-sub-menu__title .el-badge,
.el-sub-menu__title .el-badge * {
  vertical-align: baseline !important;
}

/* ========== 全局大小缩放接管区 ========== */
/* 强制提升大号体系至 16px */
.size-large {
  --el-font-size-base: 16px;

  .el-form-item__label,
  .el-card__header,
  .el-descriptions__label,
  .el-descriptions__content,
  .el-table {
    font-size: 16px !important;
  }
}

/* 强制提升基准与死硬文本至 15px */
body:not(.size-large):not(.size-small) {
  --el-font-size-base: 15px;

  .el-form-item__label,
  .el-card__header,
  .el-descriptions__label,
  .el-descriptions__content,
  .el-table {
    font-size: 15px !important;
  }
}
.size-default {
  --el-font-size-base: 15px;

  .el-form-item__label,
  .el-card__header,
  .el-descriptions__label,
  .el-descriptions__content,
  .el-table {
    font-size: 15px !important;
  }
}

/* 收缩基准与死硬文本至 14px */
.size-small {
  --el-font-size-base: 14px;

  .el-form-item__label,
  .el-card__header,
  .el-descriptions__label,
  .el-descriptions__content,
  .el-table {
    font-size: 14px !important;
  }
}
